<div class="todo-app">
    <div class="jump" id="about"></div>

    <div class="list">
      I followed the <a target="_blank" href="https://ng-girls.gitbook.io/todo-list-tutorial/workshop-todo-list/workshop-todo-list">ngGirl's To-Do List App tutorial</a> and added my own flair. I started coding in 2019 and love the organization of Angular! When I am not coding, I am working on the farm, cooking in the kitchen, or spending time with family.
      <br>
      Let's Connect!

        <base target="_blank"/>
          <a href="mailto:jenhalv06@gmail.com" class="fa fa-envelope" aria-hidden="true" alt="envelope"></a>
          <a href="https://twitter.com/jennlynnhalv" class="fa fa-twitter" aria-hidden="true" alt="twitter"></a>
          <a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020" class="fa fa-linkedin" aria-hidden="true" alt="linkedin"></a>
          <br>
          <span class="material-icons-outlined">copyright</span>
          <span class="bottom">Jennifer Halvorson 2021</span>
    </div>

  <img alt="Jennifer Bitmoji" src="assets/Cat1.png"/>
</div>

    <!-- This tutorial breaks down how to:<br>
    <ul>
<li>initialize your Todo application using Angular CLI,</li>
<li>create a Todo class to represent individual todos,</li>
<li>create a TodoDataService service to create, update and remove items,</li>
<li>Add in style to better display the user interface, and</li>
<li>deploy your application to GitHub & StackBlitz.</li>
</ul> -->

